
@{
    ViewBag.Title = "SaveFile";
}

<h2>SaveFile</h2>

@using (Html.BeginForm("SaveFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("UploadedFile", null, new { type = "file" })

        <input type="submit" name="fileName" value="Upload" />
        <span>@ViewBag.Message</span>
    </div>
}

